.content{

    font-size: 20px;
    /* color: white; */
    color: "green";
    line-height: 1.2;

}

.update-time{

    margin-top: 5px;
    color: lightslategray;
    font-style: italic;
    text-align: left;
    font-size: 17px;

}

.table-content th{
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

#due-in{

    color: gray;
    text-align: right;
    font-weight: bold;

}
.bus-details{
    text-align: left;
    font-weight: bold;
}